name: Build and Deploy Container

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Install dependencies
        run: npm install
        working-directory: microfrontend/container
      - name: Build container
        run: npm run build
        working-directory: container