name: Build and Deploy Container

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        run: ls
      - name: Install dependencies
        run: npm install
      - name: Build container
        run: npm run build